#registration-form-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#registration-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 3rem 2rem 3rem;
}

#registration-form>input{
    width: 10rem;
    padding: 0rem 0.5rem;
    margin-bottom: 1rem;
}
#registration-form>label{
    margin-bottom: 0.5rem;
}