.notification-container {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}


.notification-error-login{
    background-color: var(--color-important);
}

.notification-new-event-created {
    background-color: var(--color-medium);
}

/*
.notification-success {
    background-color: #28a745;
}

.notification-warning {
    background-color: #ffc107;
}

.notification-error {
    background-color: #dc3545;
}
*/