:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
  
  --color-dark: #e6e6e6;
  --color-light: #82A5C8;
  --color-medium: #427DB3;
  --color-important: #9E645A;
  --color-white: #000000;
  
  color-scheme: light dark;
  color: var(--color-white);
  background-color: var(--color-dark);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  min-height: 100svh;
}

#app{
  display: flex;
  flex-direction: column;
}



/* ----------------------------------------------------------------CUSTOM FLATPICKR---------------------------------------------------------------------*/

.flatpickr-calendar .selected{
  background-color: var(--color-medium) !important;
}

/* ----------------------------------------------------------------   RESPONSIVE   ---------------------------------------------------------------------*/


@media screen and (max-width: 700px) {
  .event-card{
    height: 200px !important;
  }
  .event-card > h3{
    font-size: 60px !important;
  }
}
@media screen and (max-width: 550px) {
  .event-card > h3{
    font-size: 50px !important;
  }
}
@media screen and (max-width: 450px) {
  .event-card > h3{
    font-size: 40px !important;
  }
}

@media screen and (max-width: 550px) {
  #filter-by-date-container{
    flex-direction: column;
    align-items: baseline !important;
  }

}
