#user-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#user-name-email {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: last baseline;
    padding: 0 1rem;
}

#user-options-container {
    padding: 0 1rem;
}

#user-name-email>p {
    font-size: 14px;
}

#logOut-button {
    width: 70px !important;
    margin-left: 1rem !important;
}