#profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

#user-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

    background-color: rgba(255, 255, 255, 0.174);
}

#user-name-email {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: last baseline;
}

#user-name-email>p {
    font-size: 14px;
}

#user-events-container {
    padding: 2rem 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10%;
}

#user-events-as-organizer-container,
#user-events-as-assistant-container {
    width: 45%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0rem;
}

#events-as-organizer-list,
#events-as-assistant-list {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

/*TEXTO*/
#user-events-container h2{
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 2px;
    border-bottom: solid 1px var(--color-white);
}

/*BOTONES
#user-options-container >button,
#user-events-as-organizer-container>button,
#user-events-as-assistant-container>button {
    cursor: pointer;
    width: 200px;
    padding: 8px 14px;
    margin: 1rem 0;
}*/

#logOut-button {
    width: 70px !important;
    margin-left: 1rem !important;
}