.hero-container {
  z-index: 100;
  position: relative;
  left: 0;
}

.hero {
  position: relative;
  margin: 0;
  min-width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   IMAGEN    */
  background-image: url('/background-hero.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(50%);
  z-index: 199;
}
