#login-form-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 3rem 2rem 3rem;
}

#login-form>input{
    width: 10rem;
    padding: 0rem 0.5rem;
    margin-bottom: 1rem;
}
#login-form>label{
    margin-bottom: 0.5rem;
}

#register-button{
    margin-top: 1.5rem;
    font-size: 0.9rem !important;
    background-color: transparent !important;
    border: none;
    color: var(--color-dark) !important;
}
