

.event-details-container{
    padding: 2.5rem 1rem;
    width: 100%;

    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    /*Esto es para el efecto Parallax*/
    background-color: var(--color-white);
    position: relative;
    overflow: hidden;
}

