.events-container{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 0rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}



.events-card-container{
    margin-top: 76px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
    /*transition: all 0.3ms ease-in-out;*/
}